.bet-buttom {
    justify-self: right;
    position: relative;
    z-index: 2;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    width: 257px;
    min-height: 52px;
    margin-right: 50px;
    cursor: pointer;
    font-family: inherit;
}