.cover__description-text {
    position: relative;
    z-index: 2;
    color: white;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    word-spacing: 18px;
    margin-right: 78px;

}